<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body style="text-align: center;">

    <div style="margin-top:30px;">
        <h1>lets chat </h1>

        <form action="" id="form">
            <input type="text" name="message" required>
            <button>Send</button>
        </form>

        <div style="margin-top: 10px;" id="messages"></div>

    </div>

    <script>
        let url = `ws://${window.location.host}/ws/socker-server/`
        console.log(url)


        // creating websocket connection
        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data', data)

            // data comming back from channels receiver 
            if (data.type === 'chat' ){
                let messages = document.getElementById('messages');

                messages.insertAdjacentHTML('beforeend', `<div><p>${data.message}</p></div>`)
            }
            
        }

        // form submittion
        let form = document.getElementById('form');
        form.addEventListener('submit', (e)=>{
            e.preventDefault();
            
            // get value of input box
            let message = e.target.message.value;
            // sending data to channels receiver
            chatSocket.send(JSON.stringify({
                'message':message
            }))
            form.reset();

        })

    </script>
</body>
</html>